    body {
        background-color: #F0F2D8;
    }

    h1 {
        font-family: 'Lora', cursive;
        color: green;
    }

    td {
        padding: 5px;
    }

    .page-header {
        background-color: #3CDB2E;
        border-bottom: 2px solid darkgreen;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 20px 30px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #F0F2D8;
        font-size: 50pt;
        text-decoration: none;
        text-shadow: 1px 3px 2px darkgreen;
    }

    .content {
        margin-left: 40px;
}

    .date {
        float: right;
        font-style: italic;
        color: darkgray;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .post-text {
        padding-top: 10px;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #F0F2D8;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
        margin-top: 20px;
    }
    
    .col-md-8 {    
        background-color: #F0F2D8;
    }

    .post h1 a, .post h1 a:visited {
        color: darkgreen;
    }

    .content-login {
        padding-top: 30px;
    }
